fastapi
uvicorn[standard]

langgraph
langchain
langchain-openai
langchain-core

openai

mcp
fastmcp

pydantic
python-dotenv

psycopg2-binary
chromadb

jinja2
python-multipart

httpx
requests

tiktoken

numpy