fastapi
uvicorn[standard]

langgraph
langchain
langchain-openai
langchain-core

openai

mcp
fastmcp

pydantic
python-dotenv

psycopg[binary]
chromadb

jinja2
python-multipart

httpx
requests

google-api-python-client
google-auth-oauthlib
keyring
google-auth-httplib2

tiktoken

numpy
